.incre-decre-btn {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
}
.icon-size {
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  .horizontal-card {
    width: 30rem;
  }
  .incre-decre-btn {
    font-size: 3rem;
  }
}
