.cart-page-title {
  padding-top: 1rem;
  color: var(--dark-black);
  text-align: center;
}
.cart-page {
  margin-left: 0;
}
.cart-page {
  justify-content: center;
  gap: 2rem;
}
.cart-item-container {
  gap: 2rem;
}
