.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.hamburger {
  display: none;
  margin: 0 1rem;
}
.hamburgur-menu {
  display: none;
}
.navbar-name {
  margin: 0 2rem 0 1rem;
}

.icon-size {
  font-size: 2rem;
}

.icon-hover:hover {
  color: var(--medium-blue);
}
.category {
  color: black;
}
.category:hover {
  color: var(--medium-blue);
  cursor: pointer;
}
.all-category {
  margin-right: 2rem;
}

@media only screen and (max-width: 700px) {
  .nav-standard-list-item {
    display: none;
  }
  .hamburger {
    display: inline;
  }
  .hamburgur-menu {
    display: flex;
  }
}
