:root {
  --cream-color: #fed7aa;
  --red-color: #dc2626;
  --purple-color: #7e22ce;
}
.drawer {
  position: sticky;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
  border: 1px solid var(--light-grey);
  padding-bottom: 2rem;
  background-color: var(--white-color);
}
.clear-all-row {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clear-all {
  margin-right: auto;
}
.filter-heading {
  color: var(--dark-black);
  font-weight: 510;
  font-size: 1.1rem;
  text-align: center;
}
.drawer::-webkit-scrollbar {
  width: 2px;
}
.drawer-header {
  padding: 0;
  margin: 0 0.4rem;
  justify-content: space-between;
}
.drawer-item-wrapper {
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid var(--light-grey);
}

.slider {
  width: 12rem;
  height: 7px;
  accent-color: var(--cta-green);
}
.sort-by-list {
  gap: 1rem;
  padding: 0;
}

.checkbox {
  width: 13px;
  height: 13px;
  accent-color: var(--cta-green);
}
.radio-btn {
  accent-color: var(--cta-green);
}
.filter-color-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.button {
  border: none;
  background-color: transparent;
}
.filterBar-cancel-btn {
  display: none;
}
.sort-by-display {
  display: none;
}
@media screen and (max-width: 1250px) {
  .drawer {
    width: 25%;
  }
}
@media screen and (max-width: 900px) {
  /* .drawer-container {
    display: flex;
    position: fixed;
    inset: 0;
    transform: translateX(-100vh);
    transition: transform 250ms ease-in-out;
  } */
  .drawer {
    z-index: 1;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 18rem;
    transform: translateX(-18rem);
    transition: transform 250ms ease-in-out;
    background: var(--white-color);
  }
  .sort-by-display {
    display: block;
  }
  .drawer-close {
    transform: translateX(-18rem);
  }
  .drawer-open {
    transform: translateX(0);
  }

  .filterBar-cancel-btn {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .btn-filter {
    display: flex;
  }
  .products {
    gap: 10px;
  }
  .sort-by {
    margin: 1rem 0;
  }
}
