:root {
  --black-footer-color: #1c1917;
  --text-footer-color: #9ca3af;
}
.footer {
  padding: 5rem 0;
  background-color: #93b48b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: var(--white-color);
}
.footer-title {
  font-size: 2rem;
  font-weight: 800;
}
.footer-msg {
  max-width: 40%;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.7rem;
}
.footer-icons {
  display: flex;
  gap: 1.4rem;
}
@media screen and (max-width: 700px) {
  .footer-msg {
    max-width: 70%;
  }
}
