:root {
  --black-footer-color: #1c1917;
  --text-footer-color: #9ca3af;
}
.footer {
  margin-top: 5rem;
  padding: 1rem 0;
  background-color: var(--black-footer-color);
  color: var(--text-footer-color);
}
.flex-col-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heart-icon {
  color: var(--medium-blue);
}
.footer-icon {
  font-size: 1.5rem;
  color: var(--text-footer-color);
}
.footer-icon:hover {
  color: var(--medium-blue);
}
.footer-icons-container {
  display: flex;
  gap: 15px;
}
.copyright-text {
  display: flex;
  gap: 10px;
}
.footer-made-with-text {
  font-size: 1.3rem;
  font-weight: lighter;
  gap: 5px;
}
.ranger-name-footer {
  font-family: "Great Vibes", cursive;
  color: var(--medium-blue);
}
