div .toast {
  width: 20rem;
  background-color: var(--mint-color);
}
.mbl-navbar {
  display: none;
}
.desktop-navbar {
  display: block;
}

@media screen and (max-width: 1170px) {
  .mbl-navbar {
    display: flex;
  }
  .desktop-navbar {
    display: none;
  }
}
