@import url("/node_modules/mockman-js/dist/style.css");
:root {
  --black-color: black;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  border: none;
  background-color: transparent;
}
.justify {
  text-align: justify;
}
.wishlist-btn-passive {
  border: 1px solid var(--black-color);
}
